

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  
}

html {
  
  background-image: url(../images/adventure.jpg);

}

ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  border-bottom: solid 1px #222222;
	color: black;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  opacity: 1;
  background-image: url(../images/col40.jpg);
  background-size: 340px 600px;
  border: solid 1px #222222;
  border-radius: 5px;
}

.col-60 {
  background-color: black;
  width: 600px;
  height: 600px;
  background-image: url(../images/adventur.jpg);
}

#juego {
  width: 600px;
  height: 600px;
}


#juego div {

  text-align: center;
  animation: fadein 2s; 

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


img {
  border: solid 1px #000000;
  border-radius: 5px;
}

h1{
  border-style: dashed;
  color: black;
  background-color:
  padding: 4px;
  width: 234px;
}

h2 {
	border-style: dashed;
	color: black;
	background-color:
}


.pie {
  text-align: center;
  background: #FFF;
  background-color: gray
}

p {
  padding: 5px;
}

.ficha {
  height: 200px;
  width: 200px;
  float: left;
}

